*.txt
!run/data/speciesParameters/Acer_saccharum*txt
!run/landscape.txt
!run/simulationParameters.txt
!run/data/initialCondition/Acer_saccharum/*txt
!run/data/landscape_5x5_acsa/*txt
!run/results/popDyn/Acer_saccharum/*txt
!run/results/summary/Acer_saccharum/*txt
*.txt.tmp
*.DS_Store
*.vscode
*.jpg
*.pdf
*.rds
!analyses/diffResults/*.rds
*.png
*.zip
*.tex
oldStuff
obj_alglib/
obj_ebt/
ebt